@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
CCCC
<br>
 aaa
  <div class="access_map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53431.853051982886!2d131.32868078055353!3d33.17499211567743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3546b15d4081bd39%3A0x3353f0a4a0b6def7!2z44CSODc5LTU0MjUg5aSn5YiG55yM55Sx5biD5biC5bqE5YaF55S65riV!5e0!3m2!1sja!2sjp!4v1701936174387!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 </div>